nav {
    background-color: #C5C5C5;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre subtile pour un effet moderne */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px; /* Augmentation pour une meilleure lisibilité */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #555;
    border-radius: 4px;
    transform: scale(1.05); /* Effet léger au survol */
}

@media (max-width: 768px) {
    nav {
        padding: 15px; /* Adaptation du padding */
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Espacement entre les éléments */
    }
    
    nav ul li {
        width: 100%; /* Pleine largeur pour une meilleure accessibilité */
        text-align: center;
    }

    nav a {
        font-size: 16px; /* Réduction pour éviter une surcharge visuelle */
        width: 90%; /* Ajustement pour un bon équilibre */
    }
}




body {
    background-color: #C5C5C5;
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
	text-align:center
}	

.imagee {
	background-color:white;
}



#liste {
	
	text-align:justify;
	margin: 100px;
	
	width:50px;
}	

 p {
	text-align: justify;
	margin: 30px;
}


ul li {
	display :block ;
	margin-right: 50px;
	text-align: justify;
}


#Contact {
	background-color: #ffffff;
	padding: 40px;
	border-radius: 8px;
	margin-top: 20px;
}
h2{
	margin-bottom: 20px;
	color: #333;
}
.form-group{
	margin-bottom: 15px;
	
}
label {
	font-weight: bold;
	color: #333;
}

input[ type="text"], input[ type="email"], textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s;
}
input[ type="text"]:focus,input[ type="email"]:focus, textarea
:focus{
	border-color: #007bff;
}

button{
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}
button:hover{
	background-color: #0056b3;
}




@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
}
